{% block datagrid_body %}
    <form method="post" action="{{ datagrid.router.generate({"page": 1}) }}">
        {{ form_row(datagrid.form) }}
        <button class="btn">{{ "datagrid.search"|trans }}</button>
    </form>

    <table>
        <thead>
        <tr>
        {% for label in datagrid.labels.getLabels() %}
            <th>{{ label|raw }}</th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in datagrid.rows.getRows() %}
            <tr>
            {% for cell in row.getCells() %}
                <td>{{ xhtmlRaw(cell) }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set from = (datagrid.pagination.getPage()-1)*datagrid.pagination.getLimit() %}
    {% set from = from < 1 ? 1 : from+1 %}
    {% set to   = from+datagrid.pagination.getLimit()-1 %}

    {{ "datagrid.show_result"|trans({"%from%": from, "%to%": to, "%count%": datagrid.pagination.count()}) }}

    {% include '@TuttoDataGrid/pagination.html.twig' with {'pagination': datagrid.pagination, 'router': datagrid.router} %}
{% endblock datagrid_body %}