{% extends '::base.html.twig' %}

{% block body %}
    {{ block('datagrid_body') }}
{% endblock %}

{% block datagrid_body %}
    <form method="post" action="{{ datagrid.router.generate({"_page": 1}) }}">
        {{ form_row(datagrid.form) }}
        <button class="btn">{{ "datagrid.search"|trans }}</button>
    </form>

    <table>
        <thead>
        <tr>
        {% for column in datagrid.getColumns() %}
            <th>
                {% if column.isVisible() %}
                    {% if column.isSortable() %}
                        <a href="{{ datagrid.router.generate({"_sort": column.getSort()}) }}">{{ column.getLabel()|trans|raw }}</a>
                    {% else %}
                        {{ column.getLabel()|trans|raw }}
                    {% endif %}
                {% endif %}
            </th>
        {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in datagrid.getRows() %}
            <tr>
            {% for cell in row.getCells() %}
                <td {{ cell.getColumn().getAttributes()|raw }}>
                    {% if cell.getColumn().isVisible() %}
                    {{ xhtmlRaw(cell.getXhtml()) }}
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% set from = (datagrid.pagination.getPage()-1)*datagrid.pagination.getLimit() %}
    {% set from = from < 1 ? 1 : from+1 %}
    {% set to   = from+datagrid.pagination.getLimit()-1 %}

    {{ "datagrid.show_result"|trans({"%from%": from, "%to%": to, "%count%": datagrid.pagination.count()}) }}

    {% include '@TuttoDataGrid/pagination.html.twig' with {'pagination': datagrid.pagination, 'router': datagrid.router} %}
{% endblock datagrid_body %}