{#{{ (app.request.get('_route_params')) }}#}
{#{{ dump(app.request.get('_route')) }}#}

{% set route_name = app.request.get('_route') %}
{% set route_params = app.request.get('_route_params') %}

<ul class="pagination">
    <li class="prev {{ pagination.getPrevious() == pagination.getPage() ? 'disabled' : '' }}">
        <a href="{{ path(route_name, route_params|merge({'_page': pagination.getPrevious()})) }}">
            <i class="fa fa-chevron-left"></i>
        </a>
    </li>

    {% for page in 1..pagination.getPages() %}
        <li {{ page == pagination.getPage() ? 'class="active"' : '' }}>
            <a href="{{ path(route_name, route_params|merge({'_page': page})) }}">{{ page }}</a>
        </li>
    {% endfor %}

    <li class="next {{ pagination.getNext() == pagination.getPage() ? 'disabled' : '' }}">
        <a href="{{ path(route_name, route_params|merge({'_page': pagination.getNext()})) }}">
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>